<!DOCTYPE html>

<html>

    <head>
        <title>HOME | Just5MoreMinutes</title>
        <meta charset="UTF-16">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../style/index.css">
    </head>

    <body onload="write_and_fade()">
        <style>
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        </style>
        
        <script>
            var i = 0;
            var txt = '>>> socials';
            var speed = 120;
            async function write_and_fade() {
                document.getElementById("header").style.cssText = "position: absolute; top: 45%; left: 48%; margin-top: -50px; margin-left: -50px; width: fit-content; height: 100px;";
                document.getElementById("0").style.cssText = "opacity: 0;";
                if (i < txt.length) {
                    document.getElementById("header").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(write_and_fade, speed);
                    setTimeout(continue_fade,1500);
                }
            }
            function continue_fade() {
                document.getElementById("header").style.cssText = `transition: top ease 1s;
                                                                   position: relative; 
                                                                   top: 0; left: 48%; 
                                                                   margin-left: -50px; 
                                                                   width: fit-content;
                                                                   margin-bottom: 0;`;
                document.getElementById("0").style.cssText = `animation: fadein 4s;
                                                              left: 30%;
                                                              position: relative;
                                                              height: 100%;`;
            }
        </script>

        <div class="head">
            <a href="../view/index.html"><p style="text-align:center"><img class="pfp" src="../images/pfp.PNG" alt="pfp" width="200px" height="200px" /></p></a>
            <hr class="hr-mini">
            <p id="my-name"><i>Just5MoreMinutes</i></p>
            <ul class="nav">
                <li><a href="../view/index.html"><span class="hidden">~ </span>home</a></li>
                <li><a href="../view/about.html"><span class="hidden">~ </span>about</a></li>
                <li><a href="../view/projects.html"><span class="hidden">~ </span>projects</a></li>
                <li><a href="../view/contact.html"><span class="hidden">~ </span>contact</a></li>
                <li><a href="../view/socials.html"><span class="hidden">~ </span>social</a></li>
            </ul>
        </div>
        <h1 class="home-header" id="header"></h1>
            <div class="main-content" id="0">
                <hr class="hr-medium" style="color: #2f3258;">
                <p class="info0" id="wait-for-load">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>Felis eget velit aliquet sagittis id.<br>Pellentesque pulvinar pellentesque habitant morbi. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.<br>Lacinia at quis risus sed vulputate odio ut enim.</p>
            </div>
        <footer><span id="copy">&copy; Just5MoreMinutes 2022</span></footer>
    </body>

</html>