/* dynamic resizing */
@media (max-width: 1100px) {
    div,span,h1,h2,h3,h4,h5,h6,p:not(.fuck-mobile),hr,ul,li,a,footer {display: none;}
    .fuck-mobile{display: block;}
}

@media (max-width: 1300px),(max-height: 1000px){
    p{font-size: 18px;}
    .info0{left: 5%;}
    .head{width: 300px;}
    .nav {font-size: 25px;margin-top: 25px;padding-left: 75px;}
    .nav li{margin-top: 40px;}
    .pfp{margin-left: 50px;}
}