<!DOCTYPE html>

    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" type="text/css" href="../styles/all.css">

            <title>ABOUT</title>
        </head>

        <body>
            <div class="nav-head">
                <ul class="nav-bar">
                    <li class="nav-element"><a href="../index.html" title="HOME">HOME</a></li>
                    <li class="nav-element"><a href="./views/about.html" title="ABOUT">ABOUT</a></li>
                    <li class="nav-element"><a href="#" title="PROJECTS" onclick="load_page('about')">PROJECTS</a></li>
                    <li class="nav-element"><a href="#" title="GALLERY">BLOG</a></li>
                    <li class="nav-element"><a href="#" title="CONTACT">CONTACT</a></li>
                </ul>
            </div>

            <div class="about-header">
                <h1 class="txt-c heading about">About</h1>
                <hr class="hr-s txt-c about-hr">
            </div>

            <div class="about-main">
<!---------------------------------------------->
<!------------------ ABOUT ME ------------------>
<!---------------------------------------------->
                <div class="card about-me-container">
                    
                    <div class="about-me-header">                  
                        <h3 class="vertical-text about-me-header-text">ABOUT ME</h3>             
                    </div>

                    <div class="about-me-text">
                        <p class="big-text">hey everyone! <br>
                        i'm <span class="highlight">Just5MoreMinutes</span>, a 17 year-old <u>developer</u> from austria! <br>
                        i have been actively learning new programming-skills for the past 5 years. <br>
                        i also listen to a shit load of music and consume an unholy amount of coffee! <br>
                        on this website i will publish my proudest projects and the one or the other blog on anything i might be interested in. <br>
                        also, i know the website is hosted on github pages and that i should host it on another provider, but i don't have the money for that.
                        </p>
                    </div>

                </div>
<!---------------------------------------------->
<!------------------- SKILLS ------------------->
<!---------------------------------------------->
                <div class="card skills-container">

                    <div class="skills-header-container">
                        <h3 class="vertical-text about-me-header-text skills-header">MY SKILLS</h3>
                    </div>

                    <div class="skills-text">
                        <p class="big-text">
                        i have a wide variety of skills, ranging from programming languages, libraries and frameworks, operating systems, all the way to websites and tools. <br>
                        besides that, i also gained a lot of knowledge in computer science theory. <br>
                        here is a list of my skills: <br>
                        <img src="../images/python.svg.png" width="20px" height="20px"> <span class="highlight">Python</span>, 
                        <img src="../images/javascript.png" width="20px" height="20px"> <span class="highlight">JavaScript</span>,
                        <img src="../images/c.png" width="20px" height="20px"> <span class="highlight">C</span>,
                        <img src="../images/html.png" width="20px" height="20px"> <span class="highlight">HTML</span>,
                        <img src="../images/css.png" width="15px" height="20px"> <span class="highlight">CSS</span>,
                        <img src="../images/jquery.png" width="20px" height="20px"> <span class="highlight">jQuery</span>,
                        <img src="../images/github.png" width="20px" height="20px"> <span class="highlight">GitHub</span>/<span class="highlight">Git</span>,
                        <img src="../images/linux.png" width="20px" height="20px"> <span class="highlight">Linux</span>
                        </p>
                    </div>

                </div>
<!---------------------------------------------->
<!----------------- INTERESTS ------------------>
<!---------------------------------------------->
                <h2 id="other-stuff">The Other Stuff:</h2>
                <div class="card interests-container">

                    <div class="interests-header-container">
                        <h3 class="vertical-text about-me-header-text interests-header">INTERESTS</h3>
                    </div>

                    <div class="interests-text">
                        <p class="big-text">
                        besides everything computer and tech related, i'm also highly interested in a variety of other topics! <br>
                        these topics can be found in my blog posts and just generally in conversation or whatever... <br>
                        one of my biggest interests is <span class="highlight">history</span> and <span class="highlight">archaeology</span>. <br>
                        i also really like <span class="highlight">lingustics</span> and almost everything related to <span class="highlight">languages</span>. <br>
                        oh yea, and <span class="highlight">psychology</span> is also kinda cool!
                        </p>
                    </div>

                </div>
<!---------------------------------------------->
<!------------------ HOBBYS -------------------->
<!---------------------------------------------->
                <div class="hobbys-container">

                    <div class="hobbys-header-container">
                        <h3 class="vertical-text about-me-header-text akills-header hobbys-header">HOBBIES</h3>
                    </div>

                    <div class="hobbys-text">
                        <p class="big-text">
                        when i'm not coding, i'm doing other stuff like: <br>
                        <span class="highlight">hiking</span>, <span class="highlight">running</span> and <span class="highlight">skiing</span>! i live in austria, so my opportunities for that stuff are pretty much endless.<br>
                        i also really like <span class="highlight">writing</span> and <span class="highlight">reading</span>! i generally really enjoy reading and writing horror-related stuff. <br>
                        besides that i also like <span class="highlight">gaming</span> and <span class="highlight">music</span>.
                        </p>
                    </div>

                </div>

            </div>
        </body>

</html>